/***Paleta 1: colores marron pastel**/

.primary-1-a { background-color: #E3B682 !important;background-image: none !important;}
.primary-2-a { background-color: #AA9174 !important;background-image: none !important;}
.primary-3-a { background-color: #94632A !important;background-image: none !important;}
.primary-4-a { background-color: #F1CDA4 !important;background-image: none !important;}
.primary-5-a { background-color: #F1D7B8 !important;background-image: none !important;}

.complement-1-a { background-color: #557D90 !important;background-image: none !important;}
.complement-2-a { background-color: #4B616C !important;background-image: none !important;}
.complement-3-a { background-color: #1C485D !important;background-image: none !important;}/**/
.complement-4-a { background-color: #8BB3C7 !important;background-image: none !important;}
.complement-5-a { background-color: #9BB9C7 !important;background-image: none !important;}

/***Paleta 2: colores naranja **/
.primary-1-b { background-color: #FF8500 !important;background-image: none !important;}/*#0ca3d2*/
.primary-2-b { background-color: #BF7A30 !important;background-image: none !important;}
.primary-3-b { background-color: #A65600 !important;background-image: none !important;}
.primary-4-b { background-color: #FFA340 !important;background-image: none !important;}
.primary-5-b { background-color: #FFBC73 !important;background-image: none !important;}

.complement-1-b { background-color: #0776A0 !important;background-image: none !important;}
.complement-2-b { background-color: #226078 !important;background-image: none !important;}
.complement-3-b { background-color: #024C68 !important;background-image: none !important;}
.complement-4-b { background-color: #3AA6D0 !important;background-image: none !important;}
.complement-5-b { background-color: #62B1D0 !important;background-image: none !important;}
/**#E68E01**/

/******************************************/
.block-info{
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	background-color: rgba(98, 177, 208,0.25);
	padding: 20px 5px;
}
.block-info-title{
	border-left: 5px solid #024C68;
	padding: 10px 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	font-size: 23px;
	font-weight: bold;
	background: rgb(7, 118, 160);
	color:white;
}
.block-info-content{
	margin-top: 30px;
	padding:0 15px;
	color:#024C68;

}
.block-info #user-photo{
 	 *border:5px solid rgb(239, 244, 247);
 	 border:5px solid rgba(7, 118, 160,0.35);/*rgb(239, 244, 247);*/
  	 
}

.block-info #user-photo:hover{
   border-color: rgba(7, 118, 160,0.75);
   cursor: pointer;
}
.block-info table > tbody > tr > td{
	border-top-color:#024C68;
}
.block-info table > tbody > tr > td >span.glyphicon{
	cursor: pointer;
}

.block-info table > tbody > tr > td > input[type="text"]{
	border:none;
	padding: 0;
	background: transparent;
	color:#024C68;
	font-weight: bolder;
}

.block-info table > tbody > tr:first-child > td{
	border-top:none;
}
.block-info table > tbody > tr > td:first-child{
	background:rgba(7, 118, 160,0.7);
	border-top-color:white !important;
	font-weight: 700;
	position: static;
	color:white;
}
.block-info table > tbody > tr > td{
	background: rgba(7, 118, 160,0.15);
}
/****************************************/
#bloq {
	display: block;
	position: absolute;
	left: 0px;
	top: 50px;
	z-index: 1000;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 770px;
}
.msgblock{
	width: 45%;
	margin:50px auto;
	padding: 40px;
	padding-top:20px;
	color:white;
	background: #DD1212;
}
.menu-user{
	z-index:1500;
}


/****************************/
.bloque-inferior{
	border-top: 1px solid #CCC;
	padding-top: 20px;
	margin: 0px 10px;
}
/****************************/
.btn-separated .btn:first-child{
	margin-right: 30px;
}
.btn-primary-dark{
	color:white;
	font-weight: bold;
	*background: linear-gradient(to bottom, rgb(34, 103, 151), rgb(12, 52, 82)) repeat scroll 0% 0% rgb(20, 70, 106);
	background-color: #1C485D !important;
}
.btn-inset{
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.btn-primary-dark:hover,
.btn-primary-dark:active,
.btn-primary-dark:focus{
	color:white;
	
}
.boton-right{
	position: relative;
	left: 40%;
}

.bloques{
	border-right: 1px solid #CCC;
}
.bloque_titulo{
	padding: 10px 20px;
	margin: 0px 0px 20px;
	font-size: 17.5px;
	border-left: 5px solid #EEE;
	border-right: 5px solid #EEE;
	border: 1px solid #EEE;
	border-left: 5px solid #EEE;
	border-right: 5px solid #EEE;
}
.bloque_titulo2{
	padding: 10px 20px;
	margin: 0px 0px 20px;
	border-left: 5px solid #EEE;
	border-right: 5px solid #EEE;
	border: 1px solid #EEE;
	border-left: 5px solid #EEE;
	border-right: 5px solid #EEE;
}
/*************/
.caret-white{
	border-top-color: rgb(255,255,255) !important;
}
.content-hide{
	display: none;
}
.row-grid .col-md-3{
	margin-bottom: 20px;
}
.col-grid{
	margin-bottom: 20px;
}
/**********************/
.fondo {
  position: absolute;
  top:0;
  left: 0px;
  width: 100%;
  min-height:100%;
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #0ca3d2;
}  
.fondo>.container {
  margin: 80px auto;
  width: 640px;
}
/***************************************/
.form-horizontal td .form-control-static{
	padding-top:0px;
}
.filtro{
	overflow-y: auto;
	max-height: 200px;
}
.filtro li a{
	color:black !important;
}
.filtro li a:hover{
	color:white !important;
	background-color: #0776A0 !important;
	background-image: none !important;
}
/***************************************/
figure {
     display:block;
     position:relative;
     overflow:hidden;
     border:4px solid rgba(7, 118, 160,0.6);
     opacity: 0.7;
     cursor: pointer;
     min-height: 255px
}
figure:hover{
	opacity: 1;
}
figure img{
	width: 100%;
}
 
figcaption {
     *display:none;
     width:100%;
    
     padding:10px;
     position:absolute;
     bottom: 0px;
     left:0;
     color:#FFFFFF !important;
     font:16px/23px Arial, sans-serif;
     background:#000000;
     *background:rgba(0,0,0,.5);
     background:rgba(7, 118, 160,0.6);
}
figcaption .info_hide{
	display: none;
}
figcaption a{
	color:white;
	font-weight: 800;
}
figcaption table tr td{
	color:white;
}
.dropdown-title-wh{
	color:white;
}
.dropdown-title-wh:hover{
	color:white;
	text-decoration: underline;
}
.dropdown-head-panel{
	margin-top: -7px;
}

.form-control-first{
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}
.ingr{
	padding: 0px;
}
.ingr .list-group-item{
	padding: 5px 15px;
}
.img-profile{
	max-width: 204px;
	max-height: 204px;
}
.img-xs{
	max-width: 140px;
	max-height: 140px;
}

#info.alert{
	margin-top: 20px;
}
input[type="checkbox"]{
	width: 20px;
}
.panel-primary-dark{
	border:1px solid rgb(34, 103, 151);
}
.panel-primary-dark > .panel-heading{
	color:white;
	font-weight: bold;
	*background: linear-gradient(to bottom, rgb(34, 103, 151), rgb(12, 52, 82)) repeat scroll 0% 0% rgb(20, 70, 106);
	background-color: #1C485D !important;
}
.panel-primary {
	border-radius: 0px !important;
}
.panel-primary > .panel-heading button.dropdown-toggle{
	border-radius: 0px;
}
ul.dropdown-menu.filtro {
	border-radius: 0px;
}
.panel-primary > .panel-heading{
	border-radius: 0px !important;
}
.panel-primary > .panel-heading a{
	color:white ;
}

/*********ERROR CSS*********/
textarea.error{
	border-color: rgb(207, 60, 56);
	outline: 0px none;
	*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(207, 60, 56,0.6);
}
input.error{
	border-color: rgb(207, 60, 56);
	outline: 0px none;
	*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(207, 60, 56,0.6);
}
textarea.error:focus{
	border-color: rgb(207, 60, 56);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(207, 60, 56,0.8);
}
input.error:focus{
	border-color: rgb(207, 60, 56);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(207, 60, 56,0.8);
}
label.error{
	/*color:rgb(207, 60, 56);*/
	background-color: #F2DEDE;
    border-color: #EBCCD1;
    border: 1px solid transparent;
	border-radius: 4px;
    color: #A94442;
	position: absolute;
	padding: 5px;
	top:0px;
	/*left: 300px;*/
	left: 100%;

	width: 100px;
	
   
}
/**login
/**********************************/
.note h1.title{
	font:400 23px 'Montserrat',tahoma,verdana,sans-serif;
	/*color:#1C485D;*/
	color:#eee;
	font-size: 40px;
  	text-transform:uppercase;
  	/*text-shadow:
  	 0 1px 0 #557D90,
	 0 2px 0 #9BB9C7,
	 0 3px 0 #bbb,
	 0 6px 5px rgba(0,0,0,.5);*/
  	margin-bottom: 5px;
  	margin-top: 10px;
  	
  	
  	
}
.note h2.subtitle{
	font:400 23px 'Montserrat',tahoma,verdana,sans-serif;
	*color:#1C485D;
	font-size: 18px;
  	color:rgba(255,255,255,0.6);
  	font-style:italic;
  	/*text-transform: 
	 text-shadow: 0 1px 0 #ccc,
	 0 2px 0 #c9c9c9,
	 0 3px 0 #bbb;*/
  	margin-bottom: 20px;
  	margin-top: 10px;
  	
  	
}
.note.taupe {
	border: none !important;
	border-radius: 0px;
    background: none repeat scroll 0 0 #8BB3C7; /* color de fondo */
    *background: url(../img/photo/chef1.png);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3), -4px 7px 5px rgba(0,0,0,0.3);
    color: #FFFFFF; /* color de texto */
    min-height: 350px;
    margin: 2em auto;
    overflow: hidden;
    
    padding: 30px;
    position: relative;
   
}

.note.taupe:before {
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    background: none repeat scroll 0 0 #ADF96E; 
    border-color: #FFFFFF #FFFFFF #1C485D #1C485D; 
    border-style: solid;
    border-width: 0 36px 36px 0;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
/*************************************/
.more-info{
	display: none;
}
.row-grid{
	margin-bottom: 30px;
}

/***************************************/
.resul_busqueda{
	border-radius: 0px !important;
	padding: 0px;
	/*min-width: 45px;*/
	max-width: 1000px;
	overflow: auto;

}
.resul_busqueda .popover-title {
	border-radius: 0px !important;
	font-weight: bold;
	color:white;
}
.resul_busqueda .popover-content {
	color:black;
	padding:0px;
}

/*-------------------*/
.search{
	*margin-top:40px;
}
.search input{
	border-radius: 0px;
}
.search button{
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	color:white;
}

/********************************************/
.scrollable-y{
	height: 200px;
	overflow-y: auto;
	margin-bottom: 20px;
}
.step{
	display: none;
}
/******************************/
.fav{
	color: rgb(209, 168, 4);
	font-weight: bold;	
}

/**********************************/
.editinput{
	border-width: 1px 1px 3px;
	border-style: solid;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	width: 50px;
	padding: 1px 2px;
	margin-right: 4px;
	border-radius: 3px;
	border-color: rgba(0, 7, 9, 0.2);
}
/******************************/
.estado{
	color: white;
	border-color: #2D6CA2;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 1px rgba(0, 0, 0, 0.23);
}
.estado > .btn.active {
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4) inset, 0px 1px 7px rgba(0, 0, 0, 0.29);
	border-bottom: 5px solid;
}
.estado.btn-group .btn + .btn{
	margin-bottom: -4px;
}

#est_pendiente{
	background: none repeat scroll 0% 0% #D9534F;
	color: #9E0909;
}
#est_enviado{
	background: none repeat scroll 0% 0% #F4DD73;
	color: #C09853;
}
#est_recibido{
	color:#1C591C;
	background: none repeat scroll 0% 0% #468847;

}
.addon-estado{
	color: white;
	border-color: #2D6CA2;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 1px rgba(0, 0, 0, 0.23);
}

/*****************************************/

/*ul.recientes{
	
}*/

/*.btn.active*/
/***************************/
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:50px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top.png') no-repeat;
}
/*****************************/
.table-responsive{
	border: none;
}
.table-container{
	height: 200px;
	overflow: auto;
}
.table-container table{
	border:none !important;
}
/*#tags{
	background: #0776A0;

}
#tags .tag{
	background: red;
	padding: 5px;
	height: 100%;
}*/
/*#tags{
	
	padding: 8px;
	
	min-height: 52px;
	
}*/
/*.tag {
  color: #555555;
  background-color: #f5f5f5;
  border: #bbbbbb 1px solid;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: inline-block;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0 5px 5px 0;
  padding: 4px;
  text-decoration: none;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  vertical-align: middle;
}
.tag > .tag-remove {
  padding: 0px 4px !important;
  font-weight: bold;
  margin-left: 4px;
  opacity: 0.6;
}
.tag > .tag-remove:hover {
  text-decoration: none;
  opacity: 1;
}
.tag.tag-info{
	color: #4594b5;
  	background-color: #c5eefa;
  	border-color: #5dc8f7;
}*/

/*********************************************/
.text-view{
		font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
.thumbnail-scale{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
.thumbnail-scale:hover{
	overflow: visible;
	-webkit-transform:scale(1.01);
	-moz-transform:scale(1.01);
	-o-transform:scale(1.01);
}


/***********AUTOCOMPLETE**********/
ul#ui-id-1{
	list-style: none;
}
ul#ui-id-1 li:hover{
	background-color: #428bca;
  	border-color: #357ebd;
}
ul#ui-id-1 li:hover a{
	color:white;
}	
li.ui-menu-item{
	padding-left: 4px;
}


.ui-autocomplete{
	*background: red;
	border:1px solid red;
	border-radius: 2px;
	width: 145px;
}
.ui-helper-hidden-accessible {
	display: none;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
/*ui-front ui-menu ui-widget */

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	color: #222222;
} 
.ui-corner-all{
	padding-left: 0px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-radius: 4px;
}
/****************/

.modal-content {
	border-radius: 0px !important;

}
.modal .modal-header .modal-title{

	font:600 23px 'Montserrat',tahoma,verdana,sans-serif;
	color:white;
}
.modal .modal-header .modal-title a{
	color:white !important;
}
.modal table.table{
	border:1px solid rgba(0,0,0,0.25);
}
.modal table.info_pr_rec th,td{
	padding: 5px;
}
.modal table.info_pr_rec td{
	border-right:1px solid rgba(0,0,0,0.25);
}
.modal table.info_pr_rec th{
	background: none repeat scroll 0% 0% rgba(7, 118, 160, 0.7);
	color:white;
}
/**************************************************/
.alert-notif{
	margin-bottom: 0px;
}
#notification{
	display: none;
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 60px;
	width: 400px;
	min-height: 50px;
	right: 0px;
	padding: 15px;
	border-radius: 5px 0 0 5px;
	color:white;
}
#notification.primary{
	background: rgba(7,118,160,0.6);
}
#notification.success{
	/*background: rgba(19,139,31,0.6);*/
	/*background: rgba(60,118,61,0.6);*/
	background: rgba(223,240,216,0.6);
	color:#3C763D;
}
/************************************/
.notamedia{
	border: 1px solid;
	background: none repeat scroll 0% 0% #0776A0;
	padding: 15px;
	color: #FFF;	
}
.notamedia > #notamedia{
	font-weight: bold;
	padding-left: 10px;
	font-size: 1.2em;
}
.top-star{
	content: "\e007";
}
table.dataTable thead{
	background-color: #0776A0;
	color:white;
}
/*********RESPONSIVE DESIGN***********/
@media (max-width: 767px) {

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color:white;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li:hover {
    background: none repeat scroll 0% 0% rgb(98, 177, 208);
	}
}
@media (max-width: 1024px) {
	.col-sm-6, .col-md-3{
		margin-bottom: 30px;
	}
	.visible_lg{
		*display: none;
	}
}
@media (max-width: 360px) {
	.text-view{
		display: none;
	}
}
@media (max-width: 347px){
	.visible_lg{
		display: none;
	}
}

@media (min-width: 1009px) and (max-width: 1219px) {
	.visible_lg{
		display: none;
	}
}

/*****1009   --- 1219********/


